.projects {
    padding: 50px 0;
    background-color: rgba(141, 218, 138, 0.5);
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projectsBox {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}