.container {
    align-items: center;
    justify-content: space-between;
}

.promo {
    height: 100vh;
    background-color: blanchedalmond;
}

.description {
    width: 300px;
    background-color: darkgrey;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkgrey;
}