.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skills {
    padding: 50px 0;
    background-color: rgba(218, 138, 195, 0.5);
}

.skillBox {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
