/*
em - размеры шрифта относительно размера шрифта родителя
rem - размер шрифта относительно корневого элемента
*/

.header {
    height: 80px;
    background-color: rgba(141, 22, 141, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    align-items: center;
    justify-content: flex-end;
}



