.contacts {
    padding: 50px 0;
    background-color: rgba(218, 138, 195, 0.5);
}

.container {
    flex-direction: column;
    align-items: center;
}

.container form {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: darkgrey;
    flex-direction: column;
    width: 280px;
}

form input {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
    width: 100px;
    padding: 5px;
}